body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#blue-border-under-header {
    width: 90%;
    height: 0.15vw;
    background-color: blue;
    animation: border-movement-one linear 4s infinite;
}

@keyframes border-movement-one {
    0%, 100% {
        margin-left: 0;
    }

    50% {
        margin-left: 10%;
    }
}

#grey-border-under-header {
    width: 90%;
    height: 0.1vw;
    background-color:rgb(91, 91, 91);
    animation: border-movement-two linear 4s infinite;
}

@keyframes border-movement-two {
    0%, 100% {
        margin-left: 10%;
    }

    50% {
        margin-left: 0;
    }
}


@media screen and (min-width: 768px) {

.flexible-arrangement {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#name-logo-header {
    height: 7vw;
    margin: -1vw 0;
}

nav {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    font-size: 1.2vw;
}

nav a {
    text-decoration: none;
    color: black;
    padding-bottom: 0.2vw;
    padding-right: 0.8vw;
    transform: translateX(0vw);
    transition: transform 0.5s ease-in-out, color 0.5s ease;
}

nav a:hover {
    color: blue;
    transform: translateX(0.6vw);
    transition: transform 0.5s ease, color 0.5s ease;
}

.intro {
    height: 40vw;
    background-color: white;
    display: flex;
}

.intro * {
    margin: 0;
}

#first-name {
    font-size: 5vw;
    color: blue;
    margin-top: 8vw;
    width: 35vw;
    height: 6.5vw;
    animation: first-name-animation 1s linear forwards;
}

@keyframes first-name-animation {
    0% {
       padding-left: 0;
       background-color: rgb(0, 0, 255, 0);
       color: rgb(8, 41, 174);
       width: 30vw;
    }

    100% {
       padding-left: 18vw;
       background-color: rgb(0, 0, 255, 1);
       color: white;
       width: 35vw;
    }
}

#last-name {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgb(0, 0, 255, 1);
    background-color: white;
    padding: 0 2vw 0 2vw;
    opacity: 0;
    height: 0;
    font-size: 2vw;
    animation: last-name-animation 1s linear forwards 0.6s;
}

@keyframes last-name-animation {
    0% {
       opacity: 0;
       height: 0;
       color: rgb(0, 0, 255, 1);
       background-color: white;
       padding: 0vw 2vw 0 2vw;
    }

    100% {
       opacity: 1;
       height: 32.5vw;
       color: white; 
       background-color: rgb(0, 0, 255, 1);
       padding: 10.5vw 2vw 0 2vw;
    }
}

#your-photo {
    height: 42.05vw;
    width: 27.05vw;
    transform: translateX(-1vw);
    opacity: 0;
    border-bottom: 1vw solid rgb(0, 0, 255, 1);
    padding-right: 13vw;
    animation: your-photo-animation 1s linear forwards 1.6s;
}

@keyframes your-photo-animation {
    0% {
        transform: translateX(-1vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}

.details-intro {
    margin: -23vw 0 0 17.7vw;
    color: rgb(0, 0, 255, 1);
    height: 25vw;
}

#designation-line {
    font-size: 1.5vw;
    margin-bottom: 6vw;
    transform: translateY(2vw);
    opacity: 0;
    animation: fade-up-animation 1s linear forwards 1s;
}

@keyframes fade-up-animation {
    0% {
        opacity: 0;
        transform: translateY(2vw); 
    }

    100% {
	opacity: 1;
        transform: translateY(0vw);
    }
}

#resume {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 255, 1);
    font-size: 2vw;
    margin-left: 8vw;
    padding: 1vw 1vw;
    display: flex;
    align-items: center;
    width: 10vw;
    transition: padding 0.5s ease-in-out, background-color 0.5s ease-in-out;
    opacity: 0;
    animation: fade-up-animation 1s linear forwards 1.5s;
}

#resume svg {
    height: 2vw;
}

#resume:hover {
    padding: 1vw 5vw;
    width: 10vw;
    background-color: rgb(0, 0, 255, 0.6);
    transition: padding 0.5s ease-in-out, background-color 0.5s ease-in-out, width 0.2s ease-in-out;
}

#resume:active {
    width: 2vw;
    background-color: rgb(0, 0, 255, 1);
    transition: width 0.2s ease;
}

.web-designs {
    padding: 4vw 3vw 6vw 3vw;
    background-color: white;
    margin-top: -0.2vw;
    transition: border 0.6s, background-color 0.6s;
}

#heading-web-design {
    font-size: 4vw;
    color: black; 
    margin-left: 0vw;
    transition: margin 1s ease, color 1s ease;
}

.web-designs:hover #heading-web-design {
    color: blue;
    margin-left: 32vw;
    transition: margin-left 1s ease, color 1s ease;
}

.content-container-web-design {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 3vw;
}

.content-container-web-design iframe {
    width: 30vw;
    height: 35vw;
    margin: 0 4vw 2vw 4vw;
    border: 0.6vw dashed black; 
    transition: border;
}

.content-web-design a {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 255, 1);
    padding: 1vw;
    display: flex;
    justify-content: center;
    width: 8vw;
    margin-left: 15vw;
    font-size : 1vw;
    transition: width 0.8s ease;
}

.content-web-design a:hover {
    background-color: rgb(0, 0, 255, 0.6);
    width: 12vw;
    transition: width 0.8s ease;
}

.content-web-design a:active {
    width: 8vw;
    background-color: rgb(0, 0, 255, 1);
    transition: width 0.3s ease;
}

.graphic-designs {
    padding: 3vw;
}

#heading-graphic-design {
    font-size: 4vw;
    color: black;
    margin-left: 0;
    transition: margin-left 1s ease, color 1s ease;
}

.graphic-designs:hover #heading-graphic-design {
    color: blue;
    margin-left: 31vw;
    transition: margin-left 1s ease, color 1s ease;
}

.container-graphic-design {
    display: flex;
    flex-wrap: wrap;
}

.container-graphic-design img {
    height: 20vw;
    transform: translateY(0vw); 
    transition: transform 0.4s;
}

.container-graphic-design img:hover {
    transform: translateY(-3vw);   
    transition: transform 0.4s;
}

.animation {
    margin: 3vw;
}

#heading-animation {
    font-size: 4vw;
    color: black;
    margin-left: 0;
    transition: margin-left 1s ease, color 1s ease;
}

.animation:hover #heading-animation {
    color: blue;
    margin-left: 34vw;
    transition: margin-left 1s ease, color 1s ease;
}

.animation iframe {
    width: 100%;
    height: 40vw;
    transform: scale(1); 
    transition: transform 1s ease;
}

.animation iframe:hover {
    transform: scale(1.05); 
    transition: transform 1s ease;
}

.footer-alignment {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1vw;
}

#thankyou-line {
    color: black;
    font-weight: 500;
    font-size: 1.2vw;
}

footer h4 {
    color: blue;
}

footer a {
    text-decoration: none;
    color: black;
    padding: 0.4vw;
    display: flex;
    align-items: center;
}

footer svg {
    height: 1vw;
    margin-right: 0.5vw;
}

#whatsapp-link {
    background-color: blue;
    color: white;
    width: 9vw;
    transition: background-color 0.3s ease, padding 0.3s ease;  
}

#whatsapp-link:hover {
    background-color: green;
    color: white;
    padding: 0.4vw 1.5vw;
    transition: background-color 0.3s ease, padding 0.3s ease; 
}

#mail-link {
    background-color: blue;
    color: white;
    width: 18vw;
    transition: background-color 0.3s ease, padding 0.3s ease; 
}

#mail-link:hover {
    background-color: red;
    color: white;
    padding: 0.4vw 1.5vw;
    transition: background-color 0.3s ease, padding 0.3s ease; 
}

#copy-right-line {
    color: black;
    font-size: 0.8vw;
    text-align: center;
    font-weight: 500;
}

.flexible-arrangement svg {
        display: none;
    }

.mobile-intro {
        display: none;
}

.desktop-intro {
    display: block;
}

.container-graphic-design #wide-img {
    height: 12vw;
}

.container-graphic-design iframe {
    height: 40vw;
    width: 100%;
}

} 




@media screen and (max-width: 768px) {
    
    .flexible-arrangement {
       display: grid;
       justify-content: center;
    }

    .flexible-arrangement center svg {
        color: black;
        height: 6vw;
        transition: transform 0.3s ease-in-out;
    }
    
#name-logo-header {
    height: 27vw;
    margin: -1vw 0 -1vw 5vw; 
}

nav {
    width: 100%;
    height: 32vw;
    display: grid;
    justify-content: center;
    font-size: 5vw;
    display: none;
}

nav a {
    text-decoration: none;
    color: black;
    text-align: center; /* Center the text */
    display: block; /* Ensures it takes full width */
    line-height: 10vw;
    transition: transform 0.5s ease-in-out, color 0.5s ease;
}

nav a:hover {
    color: blue;
    transform: translateX(0.6vw);
    transition: transform 0.5s ease, color 0.5s ease;
}

.mobile-intro {
    display: grid;
    margin-top: 4vw;
}

.desktop-intro {
    display: none;
}

.whole-name {
    width: 100%;
}

#first-name {
    font-size: 10vw;
    background-color: blue;
    color: white;
    margin: 3vw 0;
    padding-left: 10vw;
    animation: f-n-a 1s ease forwards 0.2s;
}

#last-name {
    font-size: 10vw;
    background-color: blue;
    color: white;
    margin: 3vw 0;
    padding-left: 33vw;
    animation: s-n-a 1s ease forwards 0.2s;
}

#your-photo {
    height: 70vw;
    margin: 10vw 0 10vw 30vw;
    border-left: 1vw solid blue;
    padding-bottom: 4vw;
}

#designation-line {
    font-size: 4vw;
    color: blue;
    margin: 3vw 0 3vw 9vw;
}

#resume {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 255, 1);
    font-size: 6.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 0;
    width: 45vw;
    margin: 4vw 0 2vw 25vw;
}

#resume svg {
    height: 6.5vw;
}

.web-designs, .graphic-designs, .animation {
    margin-top: 10vw;
    display: grid;
    justify-content: center;
}

 #heading-web-design, #heading-graphic-design, #heading-animation {
    color: black;
    font-size: 10vw;
    text-align: center;
    display: block;
 }

.web-designs iframe {
    height: 80vw;
    border: 1vw dashed black; 
    display: flex;
    margin-right: auto;
    margin-left: auto; 
}

.content-web-design {
    margin: 10vw 0;
}

.content-web-design a {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 255, 1);
    padding: 1vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    font-size : 5vw;
}

.content-web-design a:active {
    background-color: rgb(0, 0, 255, 0.5);
}

.container-graphic-design {
    display: grid;
    justify-content: center;
}

.container-graphic-design img {
    height: 90vw;
    display: flex;
    margin-right: auto;
    margin-left: auto; 
}

.container-graphic-design #wide-img {
    height: 16vw;
    margin: 10vw 0;
}

.container-graphic-design iframe {
    height: 60vw;
    width: 100%;
}

#blue-border-under-header, #grey-border-under-header {
    height: 0.5vw;
}

.animation iframe {
    width: 100%;
    height: 50vw;
}

footer {
    display: grid;
    justify-content: center;
}

.footer-alignment {
    display: grid;
    justify-content: center;
}
 
#thankyou-line {
    color: black;
    font-weight: bold;
    font-size: 4vw;
}

footer h4 {
    font-size: 4vw;
    color: blue;
    font-weight: bold;
}

footer p a {
    color: blue;
    padding: 0.4vw;
    display: flex;
    align-items: center;
    font-size: 4vw;
}

footer svg {
    height: 4vw;
    margin-right: 1.8vw;
}

#logo-footer {
    display: none;
}

#copy-right-line {
    margin-top: 5vw;
    font-size: 3vw;
    color: black;
    font-weight: 500;
}

}

